<ons-page ng-controller="PostController">
	<ons-toolbar>
		<div class="left">
			<ons-toolbar-button ng-click="menu.toggle()">
				<ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
			</ons-toolbar-button>
		</div>
		<div class="center">mIKs-it</div>
	</ons-toolbar>
	<ons-modal var="modalFacebook">
		<ons-icon icon="ion-load-c" spin="true"></ons-icon>
		<br>
		<br> Bezig met aanmelden ...
	</ons-modal>
	<ons-modal var="modalNewPost">
		<p>
			Plaats een bericht in je dagboek
		</p>
		<form onsubmit="addPost();">
			<div class="form-group">
				<textarea id="inputMessage" name="message" class="form-control" rows="3"></textarea>
			</div>
			<button type="submit" class="btn btn-default">Plaatsen</button>
		</form>
	</ons-modal>
	<div class="card" ng-repeat="post in items">
		<div class="cardHolder">
			<h1 class="hPosition">
            	Test           
            </h1>
			<div class="line"></div>
			<p>
				{{post.message}}
			</p>
		</div>
	</div>
</ons-page>